<!--

    current homepage. Will have small description and search poptions
-->

<html>
<!-- display all categories -->

<body ng-app="DoChaP" ng-controller="querySearchCtrl">
    <br>
    <!--
            small explanation on the website
        -->
    <div class="greyArea">
        <!-- <img class="logo" src="resources/logo.jpeg" /> -->
        <div style="background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
        color: red;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: bold;
        font-size: 100px;
        font-family: arial, helvetica;
        width: 600px;
        text-align: center;">
            DoChaP
        </div>
        <div style="background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
        color: red;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: bold;
        font-size: 25px;
        font-family: arial, helvetica;
        width: 600px;
        text-align: center;">
           Domain Change Predictor
        </div>
        <br>
        <div class="searchItems form-inline">
            <!--
                searching for domains here
            -->
            <div class="resultTitle">
                <i> Search for exon-domain associations</i>
            </div>
            <br>
            <i> Species&nbsp;&nbsp;</i>
            <select id="searchBySpecie" class="form-control searchBySpecie">
                <option value="H_sapiens">Human</option>
                <option value="M_musculus">Mouse</option>
                <option value="R_norvegicus">Rat</option>
                <option value="D_rerio">Zebrafish</option>
                <option value="X_tropicalis">Frog</option>
            </select>&nbsp;&nbsp;
            <i>Search Term&nbsp;&nbsp;</i>
            <input placeholder="  enter gene symbol, geneID or RefSeq ID" class="searchTextFieldClass"
                id="searchTextField">&nbsp;&nbsp;

            <button class="btn blackButton" id="submitSearchButton" type="button" ng-click="querySearchCtrl.search()">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
            &nbsp;
            <img ng-src="/resources/loading_2.gif" width="38" height="38" ng-show="loading" />
            <br>
            <br>
            <br>
            <i>Examples&nbsp;&nbsp;</i>
            <button class="btn blackButton" type="button" ng-click="querySearchCtrl.exmaple('acly')">acly</button>&nbsp;
            <button class="btn blackButton" type="button"
                ng-click="querySearchCtrl.exmaple('a2ml1')">a2ml1</button>&nbsp;
            <button class="btn blackButton" type="button"
                ng-click="querySearchCtrl.exmaple('NM_001033537.2')">NM_001033537.2</button>&nbsp;
            <button class="btn blackButton" type="button"
                ng-click="querySearchCtrl.exmaple('NP_001230673.1')">NP_001230673.1</button>
            <br>
            <span style="color:red"><span id="alertText"></span>{{alert}}</span>
        </div>
        <br>
    </div>
    <br>
    <div class="greyArea">
         <!-- style="background: rgba(245,245,245,1);background:linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(212,212,212,1) 100%); padding: 30px;  border-radius: 10px;width: 900px" -->
        <!-- <p><strong>Overview:</strong></p> -->
        <p><strong>The Domain Change Predictor (DoChaP) integrates information on exons and domains from several
            sources to allow the study of the effect of alternative splicing on protein domains. &nbsp;</strong>
    </p>
    </div>
    <br>
    <div  class="greyArea">
        <!-- <p><strong>Search DoChaP:</strong></p> -->
        <ul style="font-size: 17px;">
            <li><strong>Choose a species from the list:&nbsp;</strong>Human (hg38), Mouse (mm10), Rat (rn6), Zebrafish
                (danRer11), Frog (xenTro9). To request
                another species, contact us! <a href="mailto:galozs@post.bgu.ac.il"
                    target="_blank">galozs@post.bgu.ac.il</a></li>
            <li><strong>Enter a search term:</strong>
                <ol>
                    <li>Acceptable query formats: Gene, Transcript or protein identifiers (gene symbol/ NCBI’s Gene
                        ID or RefSeq transcript or protein ID / ENSEMBL gene, transcript or protein ID)</li>
                    <li>See examples or Help page for more info</li>
                </ol>
            </li>
        </ul>
    </div>
    <br>

</body>

</html>