<!--

    current homepage. Will have small description and search poptions
-->

<html>

<body ng-app="DoChaP" ng-controller="querySearchCtrl">
    <div style="background-color: transparent;" class="greyArea">
        <tr>
            <td>
                <span class="searchItems form-inline" style="width: 48%; display: inline-block;">
                    <center>
                        <!--searching for domains here-->
                        <div class="resultTitle">
                            <i> Search for exon-domain associations</i>
                        </div>
                        <br>
                        <!--species select-->
                        <i> Species&nbsp;&nbsp;</i>
                        <select id="searchBySpecie" class="form-control searchBySpecie">
                        </select>&nbsp;&nbsp;
                        <!--search term-->
                        <i>Gene&nbsp;&nbsp;</i>
                        <input placeholder="  search gene" class="searchTextFieldClass"
                            id="searchTextField">&nbsp;
                        <!--search button-->
                        <button class="btn blackButton" id="submitSearchButton" type="button"
                            ng-click="querySearchCtrl.search()"
                            style="background-color: rgb(10, 103, 224); color:rgb(216, 216, 216)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        &nbsp;
                        <!--loading-->
                        <br>
                        <img ng-src="/resources/loading_2.gif" width="38" height="38" ng-show="loading" />
                        <span ng-show="loading">This usually takes up to a minute</span>
                        <br>
                        <!--error message-->
                        <span style="color:red"><span id="alertText"></span>{{alert}}</span>
                        <br>
                        <!--examples-->
                        <i>Examples&nbsp;&nbsp;</i>
                        <button class="btn blackButton" type="button"
                            ng-click="querySearchCtrl.exmaple('acly')">acly</button>&nbsp;
                        <button class="btn blackButton" type="button"
                            ng-click="querySearchCtrl.exmaple('a2ml1')">a2ml1</button>&nbsp;
                        <button class="btn blackButton" type="button"
                            ng-click="querySearchCtrl.exmaple('NM_001033537.2')">NM_001033537.2</button>&nbsp;
                        <button class="btn blackButton" type="button"
                            ng-click="querySearchCtrl.exmaple('NP_001230673.1')">NP_001230673.1</button>
                        <br>
                    </center>
                </span>
            </td>
            <td>
                <span style="width: 4%; display: inline-block;"> </span>
            </td>
            <td>
                <span class="greyArea" style="width: 48%; display: inline-block; vertical-align:top">
                    <!--description-->
                    <center>
                        <strong>The Domain Change Presenter (DoChaP) integrates information on exons and domains from
                            several sources to allow the study of the effect of alternative splicing on protein domains
                        </strong>
                        <br>
                        <br>
                    </center>

                </span>
            </td>
        </tr>


    </div>
    <br>
    <div class="greyArea" style="display: none;">
        <!--how to use-->
        <table>
            <tr>
                <td>
                    <iframe width="270" height="150" src="https://www.youtube.com/embed/Sy-SkHGTvb0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </td>
                <td>
                    &nbsp;<strong>Search DoChaP:</strong><br>
                    <ul style="font-size: 17px;">
                        <li>
                            <strong>Choose a species from the list of currently available species:</strong> Human
                            (hg38), Mouse (mm39), Rat (rn6), Zebrafish (danRer11), Frog (xenTro9).<br>
                        </li>
                        <li><strong>Type in a gene.</strong> Acceptable gene formats are: gene symbol or gene/transcript/protein identifiers (NCBI’s GeneID, RefSeq ID, Ensembl ID).</li>
                            </ol>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>


    </div>
    <br>
</body>

</html>