# ignore gbff and gz files
**/*.gbff
**/*.gbff.gz
**/*.gpff.gz
**/*.gpff
#Ignore GTF
**/*.gtf
#Ignore big tables
**/*.gz
#ignore node_modules
**/node_modules
# ignore .db files created by gffutils
**/*.db
# ignore txt large tables
**/refGene.txt
**/kgXref.txt
**/ncbiRefSeq.txt
**/knownGene.txt
**/gene2ensembl.txt
**/DB_H_sapiens.sqlite
**/DB_M_musculus.sqlite
**/DB_M_musculus_small.sqlite

**/*.gff
**/*.gff3

**/*.sqlite 
**/DB_merged.sqlite 
example_gtf/*
**/*.csv
**/data/*
**/*.tsv

# logs should be on server and not be updated externally
Website_code/log.txt
**/log.txt

Website_code/userInterfaceLog.txt
**/userInterfaceLog.txt

Tool_code/*.txt
**/*.orthology.txt

Downloads_refine/Downloads/**

**/.idea/*
**/__pycache__/*

**/*.sh
!**/*.template.sh
!**/*.Template.sh

**.pyc
**.sh.e*
**.sh.o*
Website_code/messages.txt
