# ignore gbff and gz files
**/*.gbff
**/*.gbff.gz
**/*.gpff.gz
**/*.gpff
#Ignore GTF
**/*.gtf
#Ignore big tables
**/*.gz
**/*.zip
#ignore node_modules
**/node_modules
# ignore .db files created by gffutils
**/*.db
# ignore txt large tables
**/refGene.txt
**/kgXref.txt
**/ncbiRefSeq.txt
**/knownGene.txt
**/gene2ensembl.txt
DoChaP-db/*.txt
**/*.orthology.txt
# ignore large files
**/*.gff
**/*.gff3
**/example_gtf/*
**/*.csv
**/*.tsv
# ignore data directory
**/data/*
#ignore generated databases
**/*.sqlite 
**/DB_merged.sqlite 

# logs should be on server and not be updated externally
DoChaP-web/log.txt
**/log.txt
**/log_*.txt

DoChaP-web/userInterfaceLog.txt
**/userInterfaceLog.txt
DoChaP-web/messages.txt


**/Downloads_refine/**
#ignore python config files
.idea/**
**/.idea/**
**/__pycache__/*
**.pyc


**/*.sh
**/*.bash
!**/*.template.sh
!**/*.Template.sh
!**/RunMain.sh
!**/RunAllDownloads.bash
!**/Run_DownloadOrthology.sh


**.sh.e*
**.sh.o*

#ignore the directory of databases
DoChaP-db/dbs/*

#ignore log backups
DoChaP-web/logs_backups

# ignore stat script
DoChaP-db/db_stats.py