<html>
    <head>
      
        <style>

        </style> 
      
      </head>
      <!-- css -->
      
      
      
      <!-- display all categories -->
    <body ng-app="DoChaP" ng-controller="querySearchCtrl">
        <!--<div style="background-image:url('/resources/dna-backround.jpg') ;background-size: cover;height: 400px">-->
        <div style="background-image: url('/resources/dna1.jpg'); height: 1000px;background-repeat: no-repeat; background-size: cover; background-position: center center;">
 

        <div class="searchItems">
        Specie:
        <select id="searchBySpecie" class="searchBySpecie">
            <option value="H_sapiens">human</option>
            <option value="M_musculus">mouse</option>
        </select>&nbsp;&nbsp;&nbsp;
       <br>
       Search Term:
        <input placeholder="enter gene symbol, geneID or RefSeq Id" class="searchTextFieldClass" id="searchTextField" >
        &nbsp;
        <button class="btn blackButton" id="submitSearchButton" type="button" ng-click="querySearchCtrl.search()">
        <span class="glyphicon glyphicon-search"></span>  Search
        </button>
        <img ng-src="/resources/loading_2.gif" width="38" height="38" ng-show="loading"/>
     </div>
        
        <input type="checkbox" value="isReviewed"  id="isReviewedCheckBox"  ><span style="font-size: 25pxpx">ignore predicted records</span> <br>
        <button class="btn blackButton"   type="button" ng-click="querySearchCtrl.exmaple('NM_001033537.2')">exmple 1</button>
        <button class="btn blackButton"   type="button" ng-click="querySearchCtrl.exmaple('Acly')">Exmaple 2</button>
        <button class="btn blackButton"   type="button" ng-click="querySearchCtrl.exmaple('a2ml1')">Exmaple 3</button>
        <button class="btn blackButton"   type="button" ng-click="querySearchCtrl.exmaple('NP_001230673.1')">Exmaple 4</button>
         <p align="left">
            <b>what can you search for in DoChaP?</b> <br>
            -for genes - by their GeneID, name (symbol name), synonyms and will later support different IDs <br>
            -for transcripts - by their transcript RefSeq ID <br>
            -for proteins - by their RefSeq ID <br>
            -if you don't know what to search for try the result example in the navigation bar or by <a href="#!results">clicking here</a><br>
            <br>
            <b>what can DoChaP help you with?</b> <br>
                    -finding domain locations in proteins<br>
                    -finding exon locations in genes<br>
                    -comparing transcripts<br>
                    -understanding about possible outcomes of alternative splicing<br>
           
            

        </p>
     <!--
        <br>
        <br>
        Or Choose File: (currently not supported)
        <br>
        <br>
        <input disabled="disabled" id="chooseButton" type="file">
        <br>
        <br> -->
        
</div>

    </body>

</html>