body {
    font-size: 19px;
    font-family:Nunito, Calibri; 
    background-image: url('/resources/funky-lines.png');
    background-position: center center;
   
}

html {
    height: 100%;
}

.compareSpeciesInput{
    width: 200px;
    min-width: 200px;
}

.container-fluid{
    padding-left: 2%;
    padding-right: 2%;
}
.logo {
    height: 37px;
    width: 170px;
    align-self: center;
}

/* .logoText {
    background: url(https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 40px;
    font-family: arial, helvetica;
    width: 600px;
    margin: 50px auto;
    text-align: center;
  } */

#myModal {
    background-color: rgba(245,245,245,1);
    width: 320px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    text-align: left;
    font-size: 16px;
     overflow: auto;
    padding: 20px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    top:40%;
    position: relative;
    z-index: 10;

}

/*main textfield for each search*/
.searchTextFieldClass {
    font-size: 16px;
    color:black;
    height: 35px;
    width: 200px;
}

/*result col genomic/transcript & protein title*/
.resultTitle {
    font-size: 25px;
    text-align: center;
}

/*td where the hide transcript button is commented from 23.2 */
.resultText {
    font-size: 16px;
}


.exonTableHeader {
    font-size: 23px;
    text-decoration: underline;
    padding: 10px;
    text-align: center;
}

.documentationTable {
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border-collapse: collapse;
    align-self: center;
    text-align: justify;
}

td {
    vertical-align: top;
    margin: 2px;
    padding: 2px;
}

.searchBySpecie {
    width: 100px;
}

.searchItems {
    margin-right: auto;
    margin-left: auto;
    display: table;
    text-align: left;
} 

/*
middle grey area with rounded corners and 
text aligned to left
*/
.greyArea {
    margin-right: auto;
    margin-left: auto;
    display: table;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 5px;
    width: 96%;
    background-color: white;
}

.selectMode {
    width: 210px;
    align-self: left;
}

.exonColorTable {
    text-align: center;
    font-size: 16px;
}

.blackButton {
    background-color: rgb(46, 45, 45);
    color: white;

}

.blackButton:hover {
    color: rgb(82, 192, 255);;
}

.blackButton:focus {
    color: rgb(82, 192, 255);;
}

.chromosomeLocation {
    font-size: 14px;
    text-align: left;
}

.contactUs {
    width: 400px;
}

textarea {
    height: 100px;
    resize: none;
    overflow: auto;
}
#myTooltip {
    background-color: rgb(61, 61, 61);
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    top: 50px;
    left: 50px;
    position: absolute;
    z-index: 2;
    display: none;
  }

.helpButton {
    margin: 5px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bolder;
    border:3px;
    border-color: gray;
    width: 30px;
    height: 30px;

}
.backgroundForPage{
    background-color: white;
}
.longerButtons{
    height: 78px;
}

.slide {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}