<html>

<body ng-app="DoChaP" ng-controller="compareSpeciesCtrl">
    <br>
    <!--tooltip-->
    <span id="myTooltip">Tooltip text</span>
    <!-- modal creation -->
    <div id="BlackBackground"
        style="background-color:rgba(0, 0, 0, 0);overflow:auto;height:100%;width:100%; position: fixed;"
        ng-show="specie1Display.modal.type" ng-click="specie1Display.modal.closeWindowFromTheSide($event)">
        <div id="myModal">
            <div width="200" ng-click="specie1Display.modal.type=undefined" style="font-size: 25px; text-align: right;">
                <span class="glyphicon glyphicon-remove-sign"></div>
            <br>
            <!--gene modal layout-->
            <span ng-if="specie1Display.modal.type=='gene'">
                <b>GeneID</b>: <a
                    href="https://www.ncbi.nlm.nih.gov/gene/{{compareSpeciesCtrl.currSpecies.gene_GeneID_id}}"
                    target="_blank">{{compareSpeciesCtrl.currSpecies.gene_GeneID_id}}</a><br>
                <span ng-show="compareSpeciesCtrl.currSpecies.gene_ensembl_id!=undefined">
                    <b>Ensembl ID</b>:
                    <a href="{{compareSpeciesCtrl.currSpecies.EnsemblLink}}"
                        target="_blank">{{compareSpeciesCtrl.currSpecies.gene_ensembl_id}}</a>
                </span>
                <b>Gene symbol</b>: {{compareSpeciesCtrl.currSpecies.gene_symbol}}<br>
                <b>Chromosome</b>: {{compareSpeciesCtrl.currSpecies.chromosome}}<br>
                <span ng-show="compareSpeciesCtrl.currSpecies.synonyms!=undefined">
                    <b>Synonyms</b>: {{compareSpeciesCtrl.currSpecies.synonyms}}<br>
                </span>
                <b>Strand</b>: {{compareSpeciesCtrl.currSpecies.strand}}<br>
            </span>
            <!--transcript modal layout-->
            <span ng-show="specie1Display.modal.type=='transcript'">
                <b>RefSeq ID</b>: <a
                    href="https://www.ncbi.nlm.nih.gov/nuccore/{{compareSpeciesCtrl.currSpecies.currTranscript.transcript_refseq_id}}"
                    target="_blank">{{compareSpeciesCtrl.currSpecies.currTranscript.transcript_refseq_id}}</a><br>
                <b>Exon count</b>: {{compareSpeciesCtrl.currSpecies.currTranscript.exonCount}}<br>
                <span ng-show="compareSpeciesCtrl.currSpecies.currTranscript.transcript_ensembl_id!=undefined">
                    <b>Ensembl ID</b>:
                    <a href="{{compareSpeciesCtrl.currSpecies.EnsemblLink}}"
                        target="_blank">{{compareSpeciesCtrl.currSpecies.currTranscript.transcript_ensembl_id}}</a><br>
                </span>
                <span ng-show="compareSpeciesCtrl.currSpecies.ucsc_id!=undefined">
                    <b>UCSC ID</b>: <a
                        href="https://genome.ucsc.edu/cgi-bin/hgTracks?id={{compareSpeciesCtrl.currSpecies.currTranscript.proteinUniprotID}}"
                        target="_blank">{{compareSpeciesCtrl.currSpecies.currTranscript.ucsc_id}}</a> <br>
                </span>
                <b>Transcription start</b>: {{compareSpeciesCtrl.currSpecies.currTranscript.tx_start}}<br>
                <b>Transcription end</b>: {{compareSpeciesCtrl.currSpecies.currTranscript.tx_end}}<br>
                <b>CDS coordinates</b>:
                {{compareSpeciesCtrl.currSpecies.currTranscript.cds_start}}-{{compareSpeciesCtrl.currSpecies.currTranscript.cds_end}}<br>
            </span>
            <!--protein modal layout-->
            <span ng-show="specie1Display.modal.type=='protein'">
                <b>RefSeq ID</b>: <a
                    href=" https://www.ncbi.nlm.nih.gov/protein/{{compareSpeciesCtrl.currSpecies.currTranscript.proteinId}}"
                    target="_blank">{{compareSpeciesCtrl.currSpecies.currTranscript.protein_refseq_id}}</a><br>
                <span ng-show="compareSpeciesCtrl.currSpecies.currTranscript.protein_ensembl_id!=undefined">
                    <b>Ensembl ID</b>:
                    <a href="{{compareSpeciesCtrl.currSpecies.currTranscript.proteinEnsemblLink}}"
                        target="_blank">{{compareSpeciesCtrl.currSpecies.currTranscript.protein_ensembl_id}}</a>
                </span>
                <b>Description</b>: {{compareSpeciesCtrl.currSpecies.currTranscript.description}} <br>
                <span ng-show="compareSpeciesCtrl.currSpecies.currTranscript.synonyms!=undefined">
                    <b>Synonyms</b>: {{compareSpeciesCtrl.currSpecies.currTranscript.synonyms}}<br>
                </span>
                <b>Length</b>: {{compareSpeciesCtrl.currSpecies.currTranscript.proteinLengthInAA}}aa<br>

            </span>
        </div>
    </div>
    <!--end of modal work-->

    <!--search part-->
    <div class="searchItems greyArea">
        <center>
            <i>
                <h2>Compare exon-domain association</h2>
            </i>
            <!--form for search-->
            <div class="form-inline">
                <table>
                    <tr>
                        <td rowspan="5" style="width: 250px;">
                            <iframe width="230" height="150" src="https://www.youtube.com/embed/DcwepXx0jS8"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </td>
                        <td>Select species</td>
                        <td>
                            <select id="specie1ComboBox" class="compareSpeciesInput form-control">
                            </select>
                        </td>
                        <td rowspan="2" style="width: 200px;">
                            <button class="btn blackButton longerButtons" type="button"
                                ng-click="compareSpeciesCtrl.searchForOrthology()">Find orthology <span
                                    class="glyphicon glyphicon-circle-arrow-right"></span>
                            </button>
                        </td>
                        <td>Species to compare</td>
                        <td>
                            <select ng-disabled="orthologyList==undefined" id="specie2ComboBox"
                                ng-change ="compareSpeciesCtrl.fillOrthologyCombox()"
                                ng-model = "speciesToCompareModel"
                                class="compareSpeciesInput form-control">
        
                            </select>
                        </td>
                        <td rowspan="2">
                            <button ng-disabled="!options"
                                style="background-color: rgb(10, 103, 224);"
                                class="btn blackButton longerButtons" id="submitSearchButton" type="button"
                                ng-click="compareSpeciesCtrl.geneSearch()"><span
                                    class="glyphicon glyphicon-search"></span>
                                Search
                            </button>
                            <img ng-src="/resources/loading_2.gif" width="38" height="38" ng-show="loading" />
                        </td>
                    </tr>
                    <tr>
                        <td>Enter gene</td>
                        <td>
                            <input placeholder="Enter gene symbol" class="compareSpeciesInput form-control"
                                id="compareGeneSearchTextField">
                        </td>
                        <td>Gene to compare</td>
                        <td> <select ng-disabled="!options" id="orthologyComboBox"
                                class="compareSpeciesInput form-control">
                            </select></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <center>
                                <span style="color:red">{{alert}}</span>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <br>
                            Examples
                            <button class="btn blackButton" type="button"
                                ng-click="compareSpeciesCtrl.exmaple('acly')">acly</button>&nbsp;
                            <button class="btn blackButton" type="button"
                                ng-click="compareSpeciesCtrl.exmaple('a2ml1')">a2ml1</button>&nbsp;
                            <button class="btn blackButton" type="button"
                                ng-click="compareSpeciesCtrl.exmaple('pgap3')">pgap3</button>&nbsp;
                            <button class="btn blackButton" type="button"
                                ng-click="compareSpeciesCtrl.exmaple('fancc')">fancc</button>
                        </td>
                    </tr>
                </table>
        </center>
    </div>
    </div>
    <br>
    <!--results-->
    <div ng-show="compareSpeciesCtrl.specie1Gene!=undefined" style="background-color: white;position: absolute;z-index: -3; left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;">
        <br>
        <br>
        <center>
            <!--display options-->
            <div class="searchItems greyArea">
                <div class="searchItems ">
                    <i>Choose display</i>
                    <br>
                    <select id="selectModeComboBox" class="form-control selectMode" ng-change="checkboxChecked()" ng-model="modeModel">
                        <option value="all">All Views</option>
                        <option value="transcript_protein">Transcript & Protein Views</option>
                        <option value="genomic">Genomic View Only</option>
                        <option value="transcript">Transcript View Only</option>
                        <option value="protein">Protein View Only</option>
                    </select>
                    <input type="checkbox" ng-click="filterUnreviewed()" id="isReviewedCheckBox"><i>Hide predicted
                        records</i>
                </div>
            </div>
            <br>
            <!-- results graphics -->
            <table style="margin-left: 30px;">
                <tr>
                    <td style="padding-right: 50px;">
                        <table>
                            <tr>
                                <th colspan="3">
                                    <!--intro text-->
                                    <center><a href=""><b
                                                ng-click="openWindow('gene',undefined,1)">{{compareSpeciesCtrl.specie1Gene.gene_symbol}}</b></a>:
                                        {{compareSpeciesCtrl.specie1Gene.transcripts.length}}
                                        transcripts {{compareSpeciesCtrl.specie1Gene.specieName}}</center>
                                </th>
                                <th></th>
                            </tr>
                            <tr>
                                <!--titles-->
                                <td ng-show="viewMode=='all'|| viewMode=='genomic'" class="resultTitle">
                                    Genome
                                    <div style="position: absolute; z-index: -1;">
                                        <!--genomic gridlines from behind-->
                                        <canvas id="genomicGridlines1"
                                            height="{{255*shownTranscripts1+34*hiddenTranscripts1+200}}"
                                            width="{{canvasSize}}">
                                        </canvas>
                                    </div>
                                </td>
                                <td>
                                </td>
                                <td ng-show="viewMode=='all'|| viewMode=='protein'|| viewMode=='transcript' ||viewMode=='transcript_protein'"
                                    class="resultTitle">
                                    <span style="margin-right: 50px;"
                                        ng-show="viewMode=='all'||viewMode=='transcript_protein'">Transcript &
                                        Protein</span>
                                    <span style="margin-right: 50px;" ng-show="viewMode=='transcript'">Transcript</span>
                                    <span style="margin-right: 50px;" ng-show="viewMode=='protein'">Protein</span>
                                    <div style="position: absolute; z-index: -1;">
                                        <!--protein gridlines from behind-->
                                        <canvas id="proteinGridlines1"
                                            height="{{255*shownTranscripts1+34*hiddenTranscripts1+200}}"
                                            width="{{canvasSize}}">
                                        </canvas>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <!--range-slider and scales-->
                                <td ng-show="viewMode=='all'|| viewMode=='genomic'">
                                    <div style="width: {{canvasSize}}px;">
                                        <input type="text" ng-class="genomicClass1" id="genomic_range1" value="" />
                                    </div>
                                    <center>
                                        <button ng-click="onZoomButtonGenomicClick('In',1)" class="btn blackButton"
                                            style="width: auto;">
                                            <span class="glyphicon glyphicon-zoom-in"></span>
                                        </button>
                                        <button ng-click="onZoomButtonGenomicClick('Out',1)" class="btn blackButton"
                                            style="width: auto;">
                                            <span class="glyphicon glyphicon-zoom-out"></span>
                                        </button>
                                    </center>
                                    <span class="chromosomeLocation">{{chromosomeLocation1}}</span>
                                    <br>
                                    <canvas id="canvas-scale1" height="130" width="{{canvasSize}}">
                                    </canvas>

                                </td>
                                <td>
                                </td>
                                <td ng-show="viewMode!='genomic'">
                                    <!-- scale view for proteins -->
                                    <div style="width: {{canvasSize-50}}px;">
                                        <input type="text" class="js-range-slider" id="protein_range1" value="" />
                                    </div>
                                    <br>
                                    <center>
                                        <button ng-click="onZoomButtonProteinClick('In', 1)" class="btn blackButton"
                                            style="width: auto;">
                                            <span class="glyphicon glyphicon-zoom-in"></span>
                                        </button>
                                        <button ng-click="onZoomButtonProteinClick('Out', 1)" class="btn blackButton"
                                            style="width: auto;">
                                            <span class="glyphicon glyphicon-zoom-out"></span>
                                        </button>
                                    </center>
                                    <canvas id="canvas-scale-protein1" height="130" width="{{canvasSize}}">
                                    </canvas>

                                </td>
                            </tr>
                            <tr id="fadeinDiv1{{$index}}"
                                ng-repeat="transcript in compareSpeciesCtrl.specie1Gene.transcripts track by $index">


                                <td width="{{canvasSize}}"
                                    style="height: {{(compareSpeciesCtrl.specie1Gene.transcripts[$index].genomicView ||compareSpeciesCtrl.specie1Gene.transcripts[$index].transcriptView||compareSpeciesCtrl.specie1Gene.transcripts[$index].proteinView?'255':'34')}}px">

                                    <!-- hide button -->
                                    <button ng-click="hideTranscriptView($index,1)" class="btn blackButton"
                                        style="width: auto;"
                                        ng-show="compareSpeciesCtrl.specie1Gene.transcripts[$index].genomicView ||compareSpeciesCtrl.specie1Gene.transcripts[$index].transcriptView||compareSpeciesCtrl.specie1Gene.transcripts[$index].proteinView">
                                        <span class="glyphicon glyphicon-eye-close"></span>
                                    </button>

                                    <!-- show button -->
                                    <button ng-click="showTranscriptView($index,1)" class="btn blackButton"
                                        style="width: auto;"
                                        ng-show="!(compareSpeciesCtrl.specie1Gene.transcripts[$index].genomicView ||compareSpeciesCtrl.specie1Gene.transcripts[$index].transcriptView||compareSpeciesCtrl.specie1Gene.transcripts[$index].proteinView)">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>


                                    <a href="" ng-show="viewMode=='protein'"
                                        ng-click="openWindow('protein',$index,1)">{{transcript.protein_name}}</a>
                                    <a href=""
                                        ng-show="viewMode=='genomic'||viewMode=='transcript'||viewMode=='all'||viewMode=='transcript_protein'"
                                        ng-click="openWindow('transcript',$index,1)">{{transcript.name}}</a>
                                    <br>
                                    <!-- genomic view -->
                                    <canvas id="canvas-genomic1{{$index}}" height="100"
                                        ng-show="compareSpeciesCtrl.specie1Gene.transcripts[$index].genomicView"
                                        width="{{canvasSize}}"></canvas>
                                </td>
                                <td width="30"
                                    ng-show="viewMode=='all'&&(compareSpeciesCtrl.specie1Gene.transcripts[$index].genomicView ||compareSpeciesCtrl.specie1Gene.transcripts[$index].transcriptView||compareSpeciesCtrl.specie1Gene.transcripts[$index].proteinView)">
                                </td>
                                <td width="{{canvasSize}}"
                                    ng-show="viewMode!='genomic'&&(compareSpeciesCtrl.specie1Gene.transcripts[$index].transcriptView||compareSpeciesCtrl.specie1Gene.transcripts[$index].proteinView)">
                                    <a href=""
                                        ng-show="compareSpeciesCtrl.specie1Gene.transcripts[$index].transcriptView &&  viewMode!='transcript'&&  viewMode!='transcript_protein'"
                                        ng-click="openWindow('transcript',$index,1)">{{transcript.name}}</a>
                                    <br>
                                    <!-- transcript view -->
                                    <canvas ng-show="compareSpeciesCtrl.specie1Gene.transcripts[$index].transcriptView"
                                        id="canvas-transcript1{{$index}}" height="30"
                                        width="{{canvasSize}}"></canvas><br>
                                    <!-- protein view -->
                                    <a href=""
                                        ng-show="compareSpeciesCtrl.specie1Gene.transcripts[$index].proteinView && viewMode!='protein'&& viewMode!='transcript_protein'"
                                        ng-click="openWindow('protein',$index,1)">{{transcript.protein_name}}</a><br>
                                    <canvas ng-show="compareSpeciesCtrl.specie1Gene.transcripts[$index].proteinView"
                                        id="canvas-protein1{{$index}}" height="100" width="{{canvasSize}}"></canvas>

                                    <!-- extended protein view-->
                                    <br>
                                    <canvas id="canvas-protein-extend1{{$index}}" height="100" width="{{canvasSize}}"
                                        ng-show="compareSpeciesCtrl.specie1Gene.transcripts[$index].proteinExtendView"></canvas>
                                </td>

                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <th colspan="3">
                                    <!--intro text-->
                                    <center><a href=""><b
                                                ng-click="openWindow('gene',undefined,2)">{{compareSpeciesCtrl.specie2Gene.gene_symbol}}</b></a>:
                                        {{compareSpeciesCtrl.specie2Gene.transcripts.length}}
                                        transcripts {{compareSpeciesCtrl.specie2Gene.specieName}}</center>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>

                            <tr>
                                <!--titles-->
                                <td ng-show="viewMode=='all'|| viewMode=='genomic'" class="resultTitle">
                                    Genome
                                    <div style="position: absolute; z-index: -1;">
                                        <!--genomic gridlines from behind-->
                                        <canvas id="genomicGridlines2"
                                            height="{{255*shownTranscripts2+34*hiddenTranscripts2+200}}"
                                            width="{{canvasSize}}">
                                        </canvas>
                                    </div>
                                </td>
                                <td></td>
                                <td ng-show="viewMode=='all'|| viewMode=='protein'|| viewMode=='transcript' ||viewMode=='transcript_protein'"
                                    class="resultTitle">
                                    <span style="margin-right: 50px;"
                                        ng-show="viewMode=='all'||viewMode=='transcript_protein'">Transcript &
                                        Protein</span>
                                    <span style="margin-right: 50px;" ng-show="viewMode=='transcript'">Transcript</span>
                                    <span style="margin-right: 50px;" ng-show="viewMode=='protein'">Protein</span>
                                    <div style="position: absolute; z-index: -1;">
                                        <!--protein gridlines from behind-->
                                        <canvas id="proteinGridlines2"
                                            height="{{255*shownTranscripts2+34*hiddenTranscripts2+200}}"
                                            width="{{canvasSize}}">
                                        </canvas>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <!--range-slider and scales-->
                                <td ng-show="viewMode=='all'|| viewMode=='genomic'">
                                    <div style="width: {{canvasSize}}px;">
                                        <input type="text" ng-class="genomicClass2" id="genomic_range2" value="" />
                                    </div>
                                    <center>
                                        <button ng-click="onZoomButtonGenomicClick('In', 2)" class="btn blackButton"
                                            style="width: auto;">
                                            <span class="glyphicon glyphicon-zoom-in"></span>
                                        </button>
                                        <button ng-click="onZoomButtonGenomicClick('Out', 2)" class="btn blackButton"
                                            style="width: auto;">
                                            <span class="glyphicon glyphicon-zoom-out"></span>
                                        </button>
                                    </center>
                                    <span class="chromosomeLocation">{{chromosomeLocation2}}</span>
                                    <br>

                                    <canvas id="canvas-scale2" height="130" width="{{canvasSize}}">
                                    </canvas>
                                </td>
                                <td></td>
                                <td ng-show="viewMode!='genomic'">
                                    <!-- scale view for proteins -->
                                    <div style="width: {{canvasSize-50}}px;">
                                        <input type="text" class="js-range-slider" id="protein_range2" value="" />
                                    </div>
                                    <br>
                                    <center>
                                        <button ng-click="onZoomButtonProteinClick('In', 2)" class="btn blackButton"
                                            style="width: auto;">
                                            <span class="glyphicon glyphicon-zoom-in"></span>
                                        </button>
                                        <button ng-click="onZoomButtonProteinClick('Out', 2)" class="btn blackButton"
                                            style="width: auto;">
                                            <span class="glyphicon glyphicon-zoom-out"></span>
                                        </button>
                                    </center>
                                    <canvas id="canvas-scale-protein2" height="130" width="{{canvasSize}}">
                                    </canvas>
                                </td>
                            </tr>
                            <tr id="fadeinDiv2{{$index}}"
                                ng-repeat="transcript in compareSpeciesCtrl.specie2Gene.transcripts track by $index">

                                <td width="{{canvasSize}}"
                                    style="height: {{(compareSpeciesCtrl.specie2Gene.transcripts[$index].genomicView ||compareSpeciesCtrl.specie2Gene.transcripts[$index].transcriptView||compareSpeciesCtrl.specie2Gene.transcripts[$index].proteinView?'255':'34')}}px">
                                    <!--hide button-->
                                    <button ng-click="hideTranscriptView($index,2)" class="btn blackButton"
                                        style="width: auto;"
                                        ng-show="compareSpeciesCtrl.specie2Gene.transcripts[$index].genomicView ||compareSpeciesCtrl.specie2Gene.transcripts[$index].transcriptView||compareSpeciesCtrl.specie2Gene.transcripts[$index].proteinView">
                                        <span class="glyphicon glyphicon-eye-close"></span>
                                    </button>
                                    <!-- show button -->
                                    <button ng-click="showTranscriptView($index,2)" class="btn blackButton"
                                        style="width: auto;"
                                        ng-show="!(compareSpeciesCtrl.specie2Gene.transcripts[$index].genomicView ||compareSpeciesCtrl.specie2Gene.transcripts[$index].transcriptView||compareSpeciesCtrl.specie2Gene.transcripts[$index].proteinView)">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                    <!-- genomic view -->
                                    <a href="" ng-show="viewMode=='protein'"
                                        ng-click="openWindow('protein',$index,2)">{{transcript.protein_name}}</a>
                                    <a href=""
                                        ng-show="viewMode=='genomic'||viewMode=='transcript'||viewMode=='all'||viewMode=='transcript_protein'"
                                        ng-click="openWindow('transcript',$index,2)">{{transcript.name}}</a>
                                    <br>
                                    <canvas id="canvas-genomic2{{$index}}" height="100"
                                        ng-show="compareSpeciesCtrl.specie2Gene.transcripts[$index].genomicView"
                                        width="{{canvasSize}}"></canvas>
                                </td>
                                <td width="30"
                                    ng-show="viewMode=='all'&&(compareSpeciesCtrl.specie2Gene.transcripts[$index].genomicView ||compareSpeciesCtrl.specie2Gene.transcripts[$index].transcriptView||compareSpeciesCtrl.specie2Gene.transcripts[$index].proteinView)">
                                </td>
                                <td width="{{canvasSize}}"
                                    ng-show="viewMode!='genomic'&&(compareSpeciesCtrl.specie2Gene.transcripts[$index].transcriptView||compareSpeciesCtrl.specie2Gene.transcripts[$index].proteinView)">
                                    <!-- transcript view --> <a href=""
                                        ng-show="compareSpeciesCtrl.specie2Gene.transcripts[$index].transcriptView &&  viewMode!='transcript'&&  viewMode!='transcript_protein'"
                                        ng-click="openWindow('transcript',$index,2)">{{transcript.name}}</a><br>
                                    <canvas ng-show="compareSpeciesCtrl.specie2Gene.transcripts[$index].transcriptView"
                                        id="canvas-transcript2{{$index}}" height="30"
                                        width="{{canvasSize}}"></canvas><br>
                                    <!-- protein view -->
                                    <a href=""
                                        ng-show="compareSpeciesCtrl.specie2Gene.transcripts[$index].proteinView && viewMode!='protein'&& viewMode!='transcript_protein'"
                                        ng-click="openWindow('protein',$index,2)">{{transcript.protein_name}}</a><br>
                                    <canvas ng-show="compareSpeciesCtrl.specie2Gene.transcripts[$index].proteinView"
                                        id="canvas-protein2{{$index}}" height="100" width="{{canvasSize}}"></canvas>
                                    <!-- extend protein view-->
                                    <br>
                                    <canvas id="canvas-protein-extend2{{$index}}" height="100" width="{{canvasSize}}"
                                        ng-show="compareSpeciesCtrl.specie2Gene.transcripts[$index].proteinExtendView"></canvas>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </div>
</body>

</html>