<html>
<!-- will be commented on when it will be created -->

<body ng-app="DoChaP" ng-controller="compareSpeciesCtrl">
    <div style="background-image: url('/resources/dna100.jpg'); height: 1000px;background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="searchItems">
        <br>
        <h3>Compare exon-domain association between Human and Mouse</h3>
        <div class="form-inline">
            select specie 1 &nbsp;
            <select id="specie1ComboBox" class="form-control searchBySpecie">
                <option value="H_sapiens">human</option>
                <option value="M_musculus">mouse</option>
            </select> &nbsp;
            select specie 2 &nbsp;
            <select id="specie2ComboBox" class="form-control searchBySpecie">
                <option value="M_musculus">mouse</option>
                <option value="H_sapiens">human</option>
            </select> &nbsp;
            <input placeholder="  enter gene symbol" class="searchTextFieldClass" id="compareGeneSearchTextField">
            &nbsp;
            <button class="btn blackButton" id="submitSearchButton" type="button"
                ng-click="compareSpeciesCtrl.geneSearch()"><span class="glyphicon glyphicon-search"></span> Search
            </button>
            <img ng-src="/resources/loading_2.gif" width="38" height="38" ng-show="loading" />
            <br>
            <span style="color:red">{{alert}}</span>

        </div>
    </div>

    <!--  taken from results.html we will need to adjust it   -->
    <div ng-show="compareSpeciesCtrl.specie1Gene!=undefined" class="searchItems"  style="background-color:white;">
        <table class="documentationTable">
            <tr>
                <td>
                    <table class="resultTable">
                        <tr>
                            <th style="width:130px"></th>
                            <th></th>
                            <th class="betweenVisualizationSpace"></th>
                            <th></th>
                            <th class="beforProteinTextSpace"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td class="resultTitle">
                                Genomic Visualization

                            </td>
                            <td></td>
                            <td class="resultTitle">
                                Transcript and Protein Visualization
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <canvas id="canvas-scale1" height="130" width="{{canvasSize}}">
                                </canvas>


                            </td>
                            <td>

                            </td>
                            <td>
                                <!-- scale view for proteins -->
                                <canvas id="canvas-scale-protein1" height="130" width="{{canvasSize}}">
                                </canvas>

                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="transcript in compareSpeciesCtrl.specie1Gene.transcripts track by $index">
                            <td class="resultText">
                                {{compareSpeciesCtrl.specie1Gene.specie}}<br>
                                Transcript: {{::transcript.id}} <br>
                            </td>
                            <td>
                                <!-- genomic view -->
                                <canvas id="canvas-genomic1{{$index}}" height="200" width="{{canvasSize}}"></canvas>
                            </td>
                            <td>
                            </td>
                            <td>
                                <!-- transcript view -->
                                <canvas id="canvas-transcript1{{$index}}" height="30"
                                    width="{{canvasSize}}"></canvas><br>
                                <!-- protein view -->
                                <canvas id="canvas-protein1{{$index}}" height="170" width="{{canvasSize}}"></canvas>
                            </td>
                            <td></td>
                            <td class="resultText">
                                Transcript: {{::transcript.id}}<br>

                                Protein: {{::transcript.proteinId}}
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="resultTable">
                        <tr>
                            <th style="width:130px"></th>
                            <th></th>
                            <th class="betweenVisualizationSpace"></th>
                            <th></th>
                            <th class="beforProteinTextSpace"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td class="resultTitle">
                                Genomic Visualization

                            </td>
                            <td></td>
                            <td class="resultTitle">
                                Transcript and Protein Visualization
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <canvas id="canvas-scale2" height="130" width="{{canvasSize}}">
                                </canvas>


                            </td>
                            <td>

                            </td>
                            <td>
                                <!-- scale view for proteins -->
                                <canvas id="canvas-scale-protein2" height="130" width="{{canvasSize}}">
                                </canvas>

                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="transcript in compareSpeciesCtrl.specie2Gene.transcripts track by $index">
                            <td class="resultText">
                                {{compareSpeciesCtrl.specie2Gene.specie}}<br>
                                Transcript:{{::transcript.id}} <br>
                            </td>
                            <td>
                                <!-- genomic view -->
                                <canvas id="canvas-genomic2{{$index}}" height="200" width="{{canvasSize}}"></canvas>
                            </td>
                            <td>
                            </td>
                            <td>
                                <!-- transcript view -->
                                <canvas id="canvas-transcript2{{$index}}" height="30"
                                    width="{{canvasSize}}"></canvas><br>
                                <!-- protein view -->
                                <canvas id="canvas-protein2{{$index}}" height="170" width="{{canvasSize}}"></canvas>
                            </td>
                            <td></td>
                            <td class="resultText">
                                Transcript:{{::transcript.id}}<br>

                                Protein: {{::transcript.proteinId}}
                            </td>
                        </tr>

                    </table>
                </td>

            </tr>
        </table>
    </div>
</div>
</body>

</html>