body {
    font-size: 19px;
    /* background-color: rgb(255, 255, 255); */
    font-family:Nunito, Calibri; /*Raleway*/
    /* background-image: url('/resources/fish_bg.jpg'); */
    /* background-image: url('/resources/dark_mosaic.png'); */
    
    background-image: url('/resources/funky-lines.png');
    /* background-repeat: repeat; */
    /* background-size: auto; */
    /* background-size: cover; */
    background-position: center center;
   
}

html {
    height: 100%;
}

.compareSpeciesInput{
    width: 200px;
    min-width: 200px;
}

.container-fluid{
    padding-left: 5%;
    padding-right: 5%;
}
.logo {
    height: 37px;
    width: 170px;
    align-self: center;
}

.logoText {
    /* background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px; */
    background: url(https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 40px;
    font-family: arial, helvetica;
    width: 600px;
    margin: 50px auto;
    text-align: center;
  }

#myModal {
    background-color: rgba(245,245,245,1);
    width: 320px;
    border-radius: 5px;
    /* border-style: solid;
    border-width: 2px;
    
    border-color: rgb(61, 61, 61); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
 
    text-align: left;
    font-size: 16px;
     overflow: auto;
    /* box-shadow: 18px 6px 28px -1px rgba(0, 0, 0, 0.75); */
    padding: 20px;
    /* left: 45%;
    top: 45%; */
    /*margin: auto; */
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    top:40%;
    position: relative;
    z-index: 10;

}

/* .searchButton {
    background-color: rgb(29, 20, 107);
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 40px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 8px 12px 0 rgba(44, 44, 44, 0.191);
    box-shadow: inset 2px 2px 0px 0px black;

}

.searchButton:hover {
    background-color: rgb(32, 44, 214);
}
 
.optionButton {
    background-color: rgb(29, 20, 107);
    color: white;
    font-size: 15px;
    height: 25px;
    width: 200px;
    border-radius: 8px;

}

.optionButton:hover {
    background-color: rgb(32, 44, 214);
}

.menu {
    width: 100%;
    background: rgb(57, 66, 190);


}

.nav{
   
    box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.75);
    color: aliceblue;
    background:rgb(57, 66, 190);


.nav:hover{
    :rgb(71, 77, 168);
}
}
.navA:hover,
.navA:visited,
.navA:link,
.navA:active {
    text-decoration: none;
    color: white;
}

.navA {
    font-size: 30px;
    color: white;
}
*/

/*main textfield for each search*/
.searchTextFieldClass {
    font-size: 16px;
    color:black;
    height: 35px;
    width: 200px;
}

/*result col genomic/transcript & protein title*/
.resultTitle {
    font-size: 25px;
    text-align: center;
}

/*td where the hide transcript button is commented from 23.2 */
.resultText {
    /*width: 140px;
    height: 105px;*/
    font-size: 16px;
}


.exonTableHeader {
    font-size: 23px;
    text-decoration: underline;
    padding: 10px;
    text-align: center;
}

.documentationTable {
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border-collapse: collapse;
    align-self: center;
    text-align: justify;

}

td {
    vertical-align: top;
    margin: 2px;
    padding: 2px;
}

.searchBySpecie {
    width: 100px;

}

.searchItems {
    margin-right: auto;
    margin-left: auto;
    display: table;
    text-align: left;


} 

/*
middle grey area with rounded corners and 
text aligned to left
*/
.greyArea {
    margin-right: auto;
    margin-left: auto;
    display: table;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 5px;
    width: 90%; /*800*/
    background-color: white;
    /* background-color:rgb(235, 235, 235);  */
    /* background-color: #B8B4FF ;  */
}

.selectMode {
    width: 210px;
    align-self: left;
}

.exonColorTable {
    text-align: center;
    font-size: 16px;
}

.blackButton {
    background-color: rgb(46, 45, 45);
    color: rgb(170, 169, 169);

}

.blackButton:hover {
    color: white;
}

.blackButton:focus {
    color: white;
}

.chromosomeLocation {
    font-size: 14px;
    text-align: left;
}

.contactUs {
    width: 400px;
}

textarea {
    height: 100px;
    resize: none;
    overflow: auto;
}
#myTooltip {
    background-color: rgb(61, 61, 61);
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    top: 50px;
    left: 50px;
    position: absolute;
    z-index: 2;
    display: none;
  }

.helpButton {
    margin: 5px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bolder;
    border:3px;
    border-color: gray;
    width: 30px;
    height: 30px;

}
.backgroundForPage{
    /* background-image: url('/resources/dna100.jpg');
    height: 1000px;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center; */
    /* position: relative;
    z-index:-2; */
    background-color: white;
}
.longerButtons{
    height: 70px;
}
/* 
#compareGeneSearchTextField{
    width: 200px;
} */