body {
    font-size: 19px;
    background-color: rgb(255, 255, 255);
    font-family: "Calibri";
    /*background-color: rgb(196, 221, 217);*/
    /* background-image: url("resources/dna100.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-size: cover;
    
    font-weight: bold;*/
}

.logo {
    height: 100px;
    width: 200px;
    align-self: center;
}

.myModal {
    background-color: rgba(245,245,245,1);
    height: 250px;
    width: 320px;

    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(61, 61, 61);

    text-align: left;
    font-size: 16px;
     overflow: auto;
    box-shadow: 18px 6px 28px -1px rgba(0, 0, 0, 0.75);
    padding: 20px;
    left: 45%;
    top: 45%;
    /*margin: auto; */
    position: relative;
    z-index: 3;

}

/* .searchButton {
    background-color: rgb(29, 20, 107);
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 40px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 8px 12px 0 rgba(44, 44, 44, 0.191);
    box-shadow: inset 2px 2px 0px 0px black;

}

.searchButton:hover {
    background-color: rgb(32, 44, 214);
}
 
.optionButton {
    background-color: rgb(29, 20, 107);
    color: white;
    font-size: 15px;
    height: 25px;
    width: 200px;
    border-radius: 8px;

}

.optionButton:hover {
    background-color: rgb(32, 44, 214);
}

.menu {
    width: 100%;
    background: rgb(57, 66, 190);


}

.nav{
   
    box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.75);
    color: aliceblue;
    background:rgb(57, 66, 190);


.nav:hover{
    :rgb(71, 77, 168);
}
}
.navA:hover,
.navA:visited,
.navA:link,
.navA:active {
    text-decoration: none;
    color: white;
}

.navA {
    font-size: 30px;
    color: white;
}
*/

/*main textfield for each search*/
.searchTextFieldClass {
    font-size: 16px;
    height: 35px;
    width: 300px;
}

/*result col genomic/transcript & protein title*/
.resultTitle {
    font-size: 25px;
    text-align: center;
}

/*td where the hide transcript button is commented from 23.2 */
.resultText {
    /*width: 140px;
    height: 105px;*/
    font-size: 16px;
}

/*td space between visualizations commented from 23.2 */
.betweenVisualizationSpace {
    /*width: 100px;*/
}

.beforProteinTextSpace {
    /*width: 20px;*/
}

/*
.loadingText {
    font-size: 30px;
}
*/

.exonTableHeader {
    font-size: 23px;
    text-decoration: underline;
    padding: 10px;
    text-align: center;
}

.documentationTable {
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border-collapse: collapse;
    align-self: center;
    text-align: justify;

}

td {
    vertical-align: top;
    margin: 2px;
    padding: 2px;
}

.searchBySpecie {
    width: 100px;

}

.searchItems {
    margin-right: auto;
    margin-left: auto;
    display: table;
    text-align: left;


}

/*
middle grey area with rounded corners and 
text aligned to left
*/
.greyArea {
    margin-right: auto;
    margin-left: auto;
    display: table;
    text-align: left;
    background-color:rgb(235, 235, 235);
    padding: 30px;
    border-radius: 10px;
    width: 800px
}

.selectMode {
    /*margin-right: auto;
    margin-left: auto;
    display: table;
    */
    width: 210px;
    align-self: left;

}

.exonColorTable {
    text-align: center;
    font-size: 16px;
}

.blackButton {
    background-color: rgb(46, 45, 45);
    color: rgb(170, 169, 169);

}

.blackButton:hover {
    color: white;
}

.blackButton:focus {
    color: white;
}

.chromosomeLocation {
    font-size: 14px;
    text-align: left;
}

/*
.fontChange {
    font-size: 15px;
}
*/

/*
label,
textarea {
    display: block;
}
form {
    color: white;
}*/
.contactUs {
    width: 400px;
    /* border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #98d4f3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */

}

textarea {
    height: 100px;
    resize: none;
    overflow: auto;
}
#myTooltip {
    background-color: rgb(61, 61, 61);
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    top: 50px;
    left: 50px;
    position: absolute;
    z-index: 2;
    display: none;
  }

.helpButton {
    margin: 5px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bolder;
    border:3px;
    border-color: gray;
    width: 30px;
    height: 30px;

}
.backgroundForPage{
    background-image: url('/resources/dna100.jpg');
    height: 1000px;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;"
}

/*label {
    font-size: 1.5em;
    margin-top: 5px;
    padding-left: 20px;
}

.formgroup,
.formgroup-active,
.formgroup-error {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 10.5%;
    transition: background-image 0.7s;
    -webkit-transition: background-image 0.7s;
    -moz-transition: background-image 0.7s;
    -o-transition: background-image 0.7s;
    width: 566px;
    padding-top: 2px;
}*/