body {
    font-size: 20px;
    background-color: rgb(255, 255, 255);
     /*background-color: rgb(196, 221, 217);
   background-image: url("resources/back.jpg");*/
    background-size: cover;
    font-family: "Calibri";
    font-size: 20px;
    /*font-weight: bold;*/
}

.logo{
    height:150px;
     width:300px;
     align-self: center;
     /*put align*/
}

.modal{
    background-color:rgb(226, 249, 251);
    height:240px;
    width:320px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: rgb(97, 97, 97);
    text-align: left;
    font-size: 17px;
    /*left: 50%;overflow: auto;padding: 5px;
    top: 50%;*/
    position: relative;
    margin: auto;
    box-shadow: 18px 6px 28px -1px rgba(0,0,0,0.75);
    
}

.searchButton{
    background-color:rgb(29, 20, 107);
    color:white;
    font-weight: bold;
    font-size: 30px;
    height:40px;
    width:200px;
    border-radius: 8px;
    box-shadow: 0 8px 12px 0 rgba(44, 44, 44, 0.191);
    box-shadow:inset 2px 2px 0px 0px black;

}
.searchButton:hover{
    background-color:rgb(32, 44, 214);
}
.optionButton{
    background-color:rgb(29, 20, 107);
    color:white;
    font-size: 15px;
    height:25px;
    width:200px;
    border-radius: 8px;

}
.optionButton:hover{
    background-color:rgb(32, 44, 214);
}
.menu{
width: 100%;
background:rgb(57, 66, 190);


}
.nav{
   
    box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.75);
    color: aliceblue;
    background:rgb(57, 66, 190);

}
.nav:hover{
    background:rgb(71, 77, 168);
}

.navA:hover, .navA:visited,.navA:link, .navA:active
{
    text-decoration: none;
    color: aliceblue;
}
.navA{
    font-size:30px;
    color: aliceblue;
}
.searchTextFieldClass{
    font-size:16px;
    height:38px;
    width:600px;
}

.resultTitle{
    font-size:25px;
    text-align: center;
}

.resultText{
    width: 140px;
    height: 250px;
}
.betweenVisualizationSpace{
    width: 100px;
}
.beforProteinTextSpace{
    width: 20px;
}
.loadingText{
    font-size: 30px;
}
.exonTableHeader{
    font-size: 23px;
    text-decoration: underline;
    padding: 10px;
}
.documentationTable{
vertical-align: top;
margin: 10px;
padding: 10px;
display: inline-block;
border-collapse: collapse;

}

td{
vertical-align: top;
margin: 10px;
padding: 10px;
}
.searchBySpecie{
    height: 45px;
    width: 100px;
    font-size: 18px;
}

.searchItems{
    margin-right: auto;
    margin-left: auto;
    display: table;
    text-align: left;

}
.exonColorTable{
    text-align: center;
}